name: Code Quality Checker
on: [pull_request]

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v2

    - name: wemake-python-styleguide 
      uses: wemake-services/wemake-python-styleguide@master
      with: 
        reporter: 'github-pr-review'
      env: 
        GITHUB_TOKEN: ${{ secrets.github_token }}

